.logo {
  max-height: calc(100vh - 16px);
  max-width: 100%;
  display: block;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  overflow: hidden;
}