.container {
  max-width: calc(100% - 16px);
  width: 1000px;
  margin: 16px auto;
  padding: 8px;
}

.header {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2px;
}

.body {
  margin-bottom: 16px;
}

.sectionTitle {
  text-align: center;
  margin: 16px 0 !important; 
}

.copyline {
  display: block;
  text-align: center;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}