.container {
  max-width: calc(100% - 16px);
  width: 1000px;
  margin: 16px auto;
  padding: 8px;
}

.header {
  text-align: center;
}

.body {
  margin-bottom: 16px;
}

.sectionTitle {
  text-align: center;
}

.copyline {
  display: block;
  text-align: center;
}